* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 16px;
}

.music {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.music img {
    width: 50%;
    border-radius: 8px;
    margin: 16px;
}

.music-info,
.likes {
    color: rgb(255, 255, 255)
}

.music-info p {
    margin: 4px;
}

.eng {
    margin-bottom: 40px;
}

.singer-name {
    font-weight: lighter;
    color: rgb(189, 188, 188);
}

.album {
    font-size: 14px;
    color: rgb(148, 146, 146);
}

/* Audio */
.row {
    display: flex;
    align-items: center;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#plus {
    font-size: 30px;
    font-weight: lighter;
}

.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}

/* Define the slider width so that it scales properly */
.slider_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Modify the appearance of the slider */
.seek_slider,
.volume_slider {
    height: 5px;
    background: white;
    opacity: 0.7;
    transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
    opacity: 1.0;
}

.seek_slider {
    width: 100%;
}

.volume_slider {
    width: 30%;
}

.current-time,
.total-duration {
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

/* Change the mouse cursor to a pointer
        when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}